In [1]:
from MyCustom import getDailyHistoricalPrices

In [2]:
results = getDailyHistoricalPrices('AAPL', '2008-09-15', '2009-09-15')
print(type(results))
print(results.shape)
results.head()

<class 'pandas.core.frame.DataFrame'>
(252, 8)

,Adj Close,Close,date,Date,High,Low,Open,Volume
0,17.499147,20.051428,1221485400,2008-09-15,21.098572,20.051428,20.290001,230158600
1,17.439302,19.982857,1221571800,2008-09-16,20.357143,18.878571,19.122858,299959100
2,15.936990,18.261429,1221658200,2008-09-17,19.787144,18.261429,19.784286,300113800
3,16.717442,19.155714,1221744600,2008-09-18,19.347143,17.240000,18.652857,419063400
4,17.567715,20.129999,1221831000,2008-09-19,20.600000,19.472857,20.371429,357718900