In [8]:
import sys
#display python version 
sys.version_info
from yahoofinancials import YahooFinancials
import pandas as pd

In [6]:
ticker = 'AAPL'
yahoo_financials = YahooFinancials(ticker)

historical_stock_prices = yahoo_financials.get_historical_price_data('2008-09-15', '2018-09-15', 'weekly')

In [9]:
type(historical_stock_prices)

dict

In [2]:
#historical_stock_prices

In [12]:
historical_stock_prices['AAPL'].keys()

dict_keys(['eventsData', 'firstTradeDate', 'currency', 'instrumentType', 'timeZone', 'prices'])

In [1]:
#historical_stock_prices['AAPL']['prices']

In [21]:
stock_prices = pd.DataFrame.from_dict(historical_stock_prices['AAPL']['prices'])
print(type(stock_prices))
print("stock_prices.shape:", stock_prices.shape)
stock_prices.drop(['date'], axis=1, inplace=True)
print("stock_prices.shape:", stock_prices.shape)
print(stock_prices['formatted_date'].head())
stock_prices.head()

<class 'pandas.core.frame.DataFrame'>
stock_prices.shape: (522, 8)
stock_prices.shape: (522, 7)
0    2008-09-15
1    2008-09-22
2    2008-09-29
3    2008-10-06
4    2008-10-13
Name: formatted_date, dtype: object

,adjclose,close,formatted_date,high,low,open,volume
0,17.567715,20.129999,2008-09-15,21.098572,17.240000,20.290001,1607013800
1,15.988110,18.320000,2008-09-22,20.035715,17.571428,19.991428,1329147400
2,12.102037,13.867143,2008-09-29,17.097143,13.521428,17.088572,2362246600
3,12.068378,13.828571,2008-10-06,14.500000,12.142858,13.137143,2507653400
4,12.143184,13.914286,2008-10-13,16.628571,12.270000,14.935715,2211748700

In [22]:
#old col names = "adjclose", "close", "formatted_date", "high", "low" "open" "volume"
#new col names = "Date", "Open", "High", "Low", "Close", "Adj Close", "Volume" 
stock_prices.rename(columns={"formatted_date": "Date", "open": "Open", "volume": "Volume", "adjclose": "Adj Close", "high": "High", "close": "Close", "low": "Low"},  inplace=True)
stock_prices.head(5)

,Adj Close,Close,Date,High,Low,Open,Volume
0,17.567715,20.129999,2008-09-15,21.098572,17.240000,20.290001,1607013800
1,15.988110,18.320000,2008-09-22,20.035715,17.571428,19.991428,1329147400
2,12.102037,13.867143,2008-09-29,17.097143,13.521428,17.088572,2362246600
3,12.068378,13.828571,2008-10-06,14.500000,12.142858,13.137143,2507653400
4,12.143184,13.914286,2008-10-13,16.628571,12.270000,14.935715,2211748700

In [9]:
def getDailyHistoricalPrices(stockCode, startDate, endDate):
    yahoo_financials = YahooFinancials(stockCode)
    historical_stock_prices = yahoo_financials.get_historical_price_data(startDate, endDate, 'daily')
    stock_prices = pd.DataFrame.from_dict(historical_stock_prices[stockCode]['prices'])
    stock_prices.rename(columns={"formatted_date": "Date", "open": "Open", "volume": "Volume", "adjclose": "Adj Close", "high": "High", "close": "Close", "low": "Low"},  inplace=True)
    return stock_prices

In [11]:
results = getDailyHistoricalPrices('AAPL', '2008-09-15', '2009-09-15')
print(type(results))
print(results.shape)
results.head()

<class 'pandas.core.frame.DataFrame'>
(252, 8)

,Adj Close,Close,date,Date,High,Low,Open,Volume
0,17.499147,20.051428,1221485400,2008-09-15,21.098572,20.051428,20.290001,230158600
1,17.439302,19.982857,1221571800,2008-09-16,20.357143,18.878571,19.122858,299959100
2,15.936990,18.261429,1221658200,2008-09-17,19.787144,18.261429,19.784286,300113800
3,16.717442,19.155714,1221744600,2008-09-18,19.347143,17.240000,18.652857,419063400
4,17.567715,20.129999,1221831000,2008-09-19,20.600000,19.472857,20.371429,357718900